node_modules
jspm_packages
bower_components
.idea
.DS_STORE
build/reports
typings/
dev/

**/*.tgz

sample/node_modules
sample/jspm_packages
sample/bower_components
sample/.idea
sample/.fusebox
sample/.DS_STORE
sample/dist
sample/build/reports
sample/coverage
sample/test/e2e/dist
sample/typings
sample/export