jspm_packages
bower_components
node_modules

.github
.idea
.vscode
.DS_STORE
._.DS_Store

**/*.yml

**/*.tgz

npm-debug.log

*.log
coverage

sample/
test/

desktop.ini

logo*.png

package-lock.json
yarn.lock
