<template>



  <nav class="navbar fixed-top navbar-expand-lg  navbar-dark bg-dark">
    <a class="navbar-brand" href="https://github.com/shahabganji/aurelia-toolbelt">
      <i class="fa fa-github fa-lg mr-2"></i>
      aurelia-toolbelt
    </a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->

    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav  mr-auto">
        <li repeat.for="row of router.navigation" class="nav-item ${row.isActive ? 'active' : ''}">
          <a class="nav-link" href.bind="row.href">${row.title}
            <span class="sr-only"></span>
          </a>
        </li>
      </ul>
    </div>


    <form class="form-inline my-2 my-lg-0">
      <label>
        <a href="https://bootswatch.com/" class="text-light">Bootswatch themes</a>
        &nbsp;&nbsp;
        <abt-dropdown value.bind="theme" class="mr-2" title="${theme.name}" align-right>
          <abt-dropdown-item repeat.for="th of themes" model.bind="th">${th.name}</abt-dropdown-item>
        </abt-dropdown>
      </label>
    </form>
  </nav>

</template>
