<template bindable="router">

  <require from="./nav-bar.css"></require>

  <nav class="sidebar-nav">
    <aut-metis-menu>

      <aut-metis-item expanded="true" icon-class="sidebar-nav-item-icon fa fa-github fa-lg" text="metisMenu">
        <li>
          <a href="#">
            <span class="sidebar-nav-item-icon fa fa-code-fork"></span> Fork
          </a>
        </li>
        <li>
          <a href="#">
            <span class="sidebar-nav-item-icon fa fa-star"></span> Star
          </a>

        </li>
        <li>
          <a href="#">
            <span class="sidebar-nav-item-icon fa fa-exclamation-triangle"></span> Issues
          </a>
        </li>
      </aut-metis-item>


      <aut-metis-item text="metisMenu2" expanded.bind="false">
        <li>
          <a href="#">
            <span class="sidebar-nav-item-icon fa fa-code-fork"></span> Fork
          </a>
        </li>
        <li>
          <a href="#">
            <span class="sidebar-nav-item-icon fa fa-star"></span> Star
          </a>
        </li>
        <li>
          <a href="#">
            <span class="sidebar-nav-item-icon fa fa-exclamation-triangle"></span> Issues
          </a>
        </li>
      </aut-metis-item>

    </aut-metis-menu>
  </nav>

</template>
