<template>

  <require from="./clock.css"></require>
  <require from="../../../value-converters/datetime/moment-vc"></require>

  <div class="clock" css="color: ${color};text-shadow: 0 0 20px ${shadowColor}, 0 0 20px rgba(10, 175, 230, 0);">
    <slot if.bind="showDate" name="date">
      <p class="date" css="font-size: ${fontSize/2}px;">${value|date:dateFormat:locale}</p>
    </slot>
    <slot if.bind="showTime" name="time">
      <p class="time" css="font-size: ${fontSize}px;">${value|time:be24Hours}</p>
    </slot>
    <slot if.bind="showText" name="text">
      <p class="text" css="font-size: ${fontSize/3}px;">${text}</p>
    </slot>
  </div>

</template>
